<!DOCTYPE html>
<html>
<head>
    <title>GET</title>
</head>
<body>

<h1>Список заметок</h1>

<button onclick="getNotes()">Показать заметки</button>

<div id="notes"></div>

<script>

function getNotes() {

fetch('/notes')
.then(res => res.json())
.then(data => {

    let container = document.getElementById("notes")
    container.innerHTML = ""

    data.forEach(note => {

        container.innerHTML += `
        <div style="border:1px solid black; padding:10px; margin:10px;">
            <h3>ID: ${note.id}</h3>
            <p><b>Title:</b> ${note.title}</p>
            <p><b>Content:</b> ${note.content}</p>
        </div>
        `

    })

})

}

</script>

<br><br>

<button onclick="location.href='/'">Назад</button>

</body>
</html>