<!DOCTYPE html>
<html>
<head>
    <title>PUT</title>
</head>
<body>
    <h1>Полное обновление</h1>

    <input type="number" id="id" placeholder="ID"><br><br>
    <input type="text" id="title" placeholder="Новое название"><br><br>
    <input type="text" id="content" placeholder="Новый текст"><br><br>

    <button onclick="updateNote()">Обновить</button>

    <script>
        function updateNote() {
            let id = document.getElementById('id').value;

            fetch(`/notes/${id}`, {
                method: 'PUT',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    title: document.getElementById('title').value,
                    content: document.getElementById('content').value,
                    is_public: true
                })
            })
            .then(res => res.json())
            .then(data => alert("Обновлено!"));
        }
    </script>

    <br><br>
    <button onclick="location.href='/'">Назад</button>
</body>
</html>